body {
    background-color: #171717;
}

h1, h2, p {
    font-family: Ginto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
}

p {
    font-size: 5vmin;
}

#widget {
    overflow: auto;
    position: fixed;
}

.main {
    display: inline-block;
    position: absolute;
    left: 20%;
    text-align: center;
}

button {
    background-color: #38d1fc;
    outline-color: initial;
    border-radius: 3vmin;
    color: white;
    font-size: 5vmin;
    block-size: 12vmin;
}

button:hover {
    transform: translateY(-1vmin);
}

a {
    text-decoration: none;
    color: white;
}

#everything {
    width: 100%;
    height: 100%;
}

#alternate_font-size {
    font-size: 2.5vmin !important;
}